<div class="container">
    <div>
        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left: 27%;font-size: 60px;">Movie Ticket Booking</p>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/addBooking">Book Ticket</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/bookings">All bookings</a>
            </li>
            <li class="navbar-item">
               <a class="navbar-brand" routerLink="/findBooking">Search Booking</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/getTicket"> Get Ticket</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/cancelBooking"> Cancel Booking</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>